@import "src/styles/variables";

.setting {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;


  input {
    background-color: transparent;
    padding: 10px;
    border: 1px solid $additional-colors;
    outline: none;
    border-radius: 25px;

  }

  span {
    margin-left: 5px;
  }
  .btn {
    display: flex;
  }

}


@media (max-width: 1149px) {
  .setting {
    flex-direction: column;

    .input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;

      &.add, &.max_count {
        margin-top: 5px;
      }

      input {
        width: 100%;
      }
    }


  }
}

@media(max-width: 428px) {
  .btn {
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    height: 100px;
  }
}