@import "variables";
@import "table";
@import "button";
@import "setting";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: $white;
}

body {
  background-color: $basic-colors;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}




