@import "variables";
@import "table";
@import "button";
@import "setting";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: $white;
}

body {
  background-color: $basic-colors;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.print {
  display: none;
}

.print_info {
  display: block;

  .info {
    display: block;
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 3px;

    p {
      font-size: 20px;
      color: black;
    }
  }
}

.wbc {
  display: inline-block;
  padding: 10px;
  margin-top: 25px;
  border: 1px solid black;

  span {
    font-size: 20px;
    color: black;
  }
}

@media print {
  body {
    background-color: $white;
    height: 100vh;
  }
  .print {
    display: block;
  }
  .setting {
    display: none;
  }
  .table {
    background-color: $white;
    span {

      color: black;
    }

    .row {

      border-radius: 0;

      .count {
        display: none;
      }
    }

    .body {
      .row_block {
        border: 0;
      }

      .row {
        background-color: $white;
        border-radius: 0;
        padding: 0;

        .action {
          display: none;
        }

        &.sub {
          flex:1;
          .cell{
            flex-basis: 66.6%;
          }
          .absolute{
            display: flex;
            flex-basis: 33.3%;
            text-align: center;
          }
        }

        span {
          padding: 15px;
          border: 0.5px solid black;

        }

        .delete {
          display: none;
        }

        &.all {
          display: none;
        }
      }
    }
  }


}


