@import "variables";

.table {
  margin: 15px auto;
  padding: 25px;
  background-color: $additional-colors;
  border-radius: 25px;

  .head {
    span {
      font-size: 24px;
    }

  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 15px;

    span {
      flex: 1;
      text-align: center;
    }

  }


  .body {
    .row_block {
      display: flex;
      position: relative;
      border-bottom: 7px solid $additional-colors;

      .delete_block {
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        height: 100%;
        background-color: red;
        border-radius: 25px;
        border-left: 5px solid $additional-colors;

      }
    }

    .row {
      flex: 1;
      background-color: $basic-colors;
      border-radius: 25px;
      position: relative;
      cursor: pointer;

      &.all {
        border-bottom: 3px solid $additional-colors;
      }

      span {
        font-size: 22px;
      }

      &:hover {
        .delete {
          display: flex;
        }
      }
    }

    .delete {
      display: none;
      position: absolute;
      right: 0;
      cursor: pointer;
      color: gray;
      width: 25px;
      height: 25px;


      &:hover {
        color: $white;
      }
    }

  }

}

@media(max-width: 576px) {
  .table {
    padding: 0;

    .head {
      padding: 7px;

      span {
        font-size: 15px;
      }
    }

    .body {
      .row {
        height: 100%;

        &:hover {
          .delete {
            display: none;
          }

        }

        span {
          font-size: 16px;
        }

      }
    }
  }

}
