@import "src/styles/variables";

.table {
  margin: 15px auto;
  padding: 25px;
  background-color: $additional-colors;
  border-radius: 25px;


  .head {
    span {
      font-size: 24px;
    }

  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 15px;

    span {
      flex: 1;

      text-align: center;
    }

  }


  .body {
    .row_block {
      display: flex;
      position: relative;
      border-bottom: 7px solid $additional-colors;
      background-color: $basic-colors;
      border-radius: 25px;
      cursor: pointer;
      opacity: 0;
      animation: ani 2s forwards;

      &.delete_row {
        opacity: 1;
        animation: delete 1s forwards;
      }

      .delete_block {
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        height: 100%;
        background-color: red;
        border-radius: 25px;
      }
    }

    .row {
      flex: 1;
      position: relative;

      &.sub {
        flex: 0.5;

        span {
          font-size: 22px;
        }


      }

      span {
        font-size: 22px;
      }

      &:hover {
        .delete {
          display: flex;
        }
      }


    }


    .action {
      display: none;
      position: absolute;
      right: 0;
      cursor: pointer;
      color: gray;
      width: 25px;
      height: 25px;
      transition: all 0.5s linear;

      &.toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        right: 7px;

        &.close {
          transform: rotate(180deg);
        }
      }

      &:hover {
        color: $white;
      }
    }


  }

}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delete {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media(max-width: 576px) {
  .table {
    padding: 0;

    .head {
      padding: 7px;

      span {
        font-size: 15px;
      }
    }

    .body {
      .row {
        height: 100%;

        &:hover {
          .delete {
            display: none;
          }

        }

        .cell {
          text-align: start;
        }

        span {
          font-size: 16px;
        }

        &.sub {
          span {
            font-size: 12px;
          }
        }
      }
    }
  }

}
